.a1{
  background-color: #e1f5fe;
  width: auto;
  height: 1000px;

}
.c1{
  background-color: #212121;
  width: aut0;
  height: 1000px;
}
.c2{
  background-color: #81c784;
  color: white;
  font-weight: 100;
  padding-top: 15px;
  padding-bottom: 15px;
}
.c3{
  background-color: #424242;
  color: white;
  font-weight: 100;
  padding-top: 15px;
  padding-bottom: 15px;
}
.a2{
  background-color: #2196f3;
  width: 70px;
  margin: 3px;
}
.a3{
  padding-top: 60px;
  height:200px;
  width: 310px;

}
.a4{
  background-color: #ffebee;
  margin-bottom: 10px;
  height: 80px;
}
.a5{
  background-color: #212121;
  color: white;
  margin: 10px;
  font-weight: bold;
}
.a5:hover{
  color: white;
}
.a6{
  background-color: white;
  color: black;
  margin: 10px;
  font-weight: bold;
}
.a7{
  background-color: #d32f2f;
  margin: 10px;
  font-weight: bold;
  color: white;
}
.a8{
  background-color: #607d8b;
  color: white;
  margin: 10px;
  font-weight: bold;
}
.a9{
  background-color: #5d4037;
  color: white;
  margin: 10px;
  font-weight: bold;
}
